body {
  margin: 0;
}

.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color:floralwhite;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.li-nav a {
  display: block;
  color: #000;
  padding: 8px 10px;
  text-decoration: none;
}

.li-nav a.active {
  background-color: black;
  color: white;
}

.li-nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}
